.btn {
  font-size: 2rem;
  background: var(--GRAY-LIGHT);
  width: 100%;
  height: 100%;
  user-select: none;
}

.btn:hover {
  background: var(--GRAY);
  cursor: pointer;
}

.btn-alt {
  background: var(--ORANGE);
}

.btn-alt:hover {
  background: red;
}

.btn:active {
  transform: translate(-2px, -2px);
}
