.display {
  width: 100%;
  height: 25%;
  background-color: var(--GRAY-DARK);
  color: var(--GREEN);
  text-align: right;
  align-items: center;
  flex-direction: row-reverse;
  font-family: DigitalNumbers-Regular;
  padding-right: 1rem;
}

.display span {
  font-size: 4rem;
}
